.jumbotron{
    color: #5e2129;
    background-color:black ;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(https://wallpaperaccess.com/full/468014.jpg);
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 50px;
}
h1{
    font-weight: 800;
}
h2{
color: #5e2129;
text-align: center;
}
h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h5{
    font-family:sans-serif;
}
h6{
color:black;
font-style: italic;
}
footer{
    background-color:#5e2129;
    padding: 10px 10px 0 10px;
    margin-bottom: 0px;
    margin-top: 10px;
    color: white;
}
.vinot-card{
    flex: 1 300px;
    padding: 4px 4px 4px 4px;
    margin-top: 20px;
}
.btn-visit{
    width: 100%;
    background-color: #5e2129;
    border-radius: 10px;
}
.content{
    background-color: wheat;
}
#fondo-inf{
    padding: 15px 15px 15px 15px;
}
figcaption{
    padding: 10px;
}
#bs{
    color: rgb(126, 92, 87);
}
.acomod-icon{
    padding: 0px 20px 0px 0px;
}
.btn-outline-primary{
    color: #5e2129;
    width: 100%;
}
.nav-link{
    color: #5e2129 ;
}
.tab-content {
    padding-top: 10px;
}
.btnn{
    background-color: #5e2129;
}
.thead{
    color: white;
    background-color: #5e2129;
}
.table-responsive{
    padding: 30px;
}
.mdps{
    padding: 60px;

}
